<div class="modal-overlay">
  <div class="modal-container container mx-auto pt-10">

    <div class="text-right pt-5 pb-5">
      <btn class="mr-2" [icon]="'fa fa-search'" [label]="'Get movies'" [type]="1" [size]="'md'"
        (click)="getMoviesList()">
      </btn>
      <btn [icon]="'fa-regular fa-square-plus'" [label]="'New Movie'" [type]="4" [size]="'md'"
        (click)="goMaintenance(null, false)">
      </btn>
    </div>

    <div class="grid">
      <p-table [value]="movieList" [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="header">
          <tr>
            <!-- <th>Id</th> -->
            <th>Name</th>
            <th class="text-center">Date Publication</th>
            <th class="text-center">Date Registration</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-movie>
          <tr>
            <!-- <td>{{ movie.id }}</td> -->
            <td>{{ movie.name }}</td>
            <td class="text-center">{{ movie.datePublication | date: "dd/MM/yyyy" }}</td>
            <td class="text-center">{{ movie.dateRegistration | date: "dd/MM/yyyy" }}</td>
            <td class="text-right text-nowrap">

              <btn-icon [icon]="'fa fa-eye'" [title]="'Details'" (click)="goDetail(movie)">
              </btn-icon>

              <btn-icon [icon]="'fa fa-edit'" [title]="'Edit movie'" (click)="goMaintenance(movie, true)">
              </btn-icon>

            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are {{ movieList ? movieList.length : 0 }} movies.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>