.input-container {
    margin-bottom: 1rem; /* Ajuste conforme necessário */
  }
  
  .input-container label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .input-container input {
    border: 1px solid #d1d5db; /* Exemplo de borda */
    border-radius: 0.375rem; /* Exemplo de borda arredondada */
    padding: 0.5rem;
    width: 100%; /* Garante que o campo ocupe toda a largura disponível */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
  }
  